nodered/data/.flows.json.backup
[
    {
        "id": "f7ee29e1334162d9",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ce479483708d6c92",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": 8086,
        "protocol": "http",
        "database": "database",
        "name": "influxdb",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "${INFLUXDB_URL}",
        "timeout": 10,
        "rejectUnauthorized": true
    },
    {
        "id": "68ef3381986c2cf6",
        "type": "telegram bot",
        "botname": "smarthouse_bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "testenvironment": false,
        "updatemode": "polling",
        "pollinterval": 300,
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": 6667,
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbothost": "0.0.0.0",
        "localbotport": 8443,
        "publicbotport": 8443,
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "ad0ccdbf40c3d081",
        "type": "global-config",
        "env": [],
        "modules": {}
    },
    {
        "id": "696d8ddefb170dd4",
        "type": "file in",
        "z": "f7ee29e1334162d9",
        "name": "Read config",
        "filename": "/data/config.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 330,
        "y": 120,
        "wires": [
            [
                "755cf93ac3949ed3"
            ]
        ]
    },
    {
        "id": "dbaeb8dd5164a305",
        "type": "inject",
        "z": "f7ee29e1334162d9",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 120,
        "wires": [
            [
                "696d8ddefb170dd4"
            ]
        ]
    },
    {
        "id": "755cf93ac3949ed3",
        "type": "json",
        "z": "f7ee29e1334162d9",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 530,
        "y": 120,
        "wires": [
            [
                "ebf74b31a91105a5"
            ]
        ]
    },
    {
        "id": "ebf74b31a91105a5",
        "type": "split",
        "z": "f7ee29e1334162d9",
        "name": "Split config",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload",
        "x": 750,
        "y": 120,
        "wires": [
            [
                "6f7860e9f49c967f"
            ]
        ]
    },
    {
        "id": "6f7860e9f49c967f",
        "type": "switch",
        "z": "f7ee29e1334162d9",
        "name": "Get active sensors",
        "property": "payload.active",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 150,
        "y": 360,
        "wires": [
            [
                "99a7dff4065c465a"
            ]
        ]
    },
    {
        "id": "2d666efb43a783aa",
        "type": "influxdb in",
        "z": "f7ee29e1334162d9",
        "influxdb": "ce479483708d6c92",
        "name": "influxdb Read",
        "query": "",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "${INFLUXDB_ORG}z",
        "x": 620,
        "y": 360,
        "wires": [
            [
                "8d1cf85c6009534b"
            ]
        ]
    },
    {
        "id": "99a7dff4065c465a",
        "type": "function",
        "z": "f7ee29e1334162d9",
        "name": "Create query",
        "func": "msg.query = `\nfrom(bucket: \"smarthouse\")\n  |> range(start: -10m)\n  |> filter(fn: (r) => r._measurement == \"${msg.payload.sensor}\")\n  |> last()\n`;\n\n//Save payload because influxdb node will replace it\nmsg.data = msg.payload\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 360,
        "wires": [
            [
                "2d666efb43a783aa"
            ]
        ]
    },
    {
        "id": "baddc756a16e346c",
        "type": "function",
        "z": "f7ee29e1334162d9",
        "name": "Create alarms stateful",
        "func": "let alarms = [];\nlet states = flow.get(\"alarmStates\") || {};\n\nlet threshold = msg.data.threshold;\n\nfor (let p of msg.payload) {\n    let key = `${msg.data.sensor}_${p.room}_${p.device_id}`;\n    let temp = p._value;\n\n    // Initialize state if missing\n    if (!states[key]) {\n        states[key] = { active: false };\n    }\n\n\n    // Alarm condition\n    if (temp >= threshold && !states[key].active) {\n        states[key].active = true;\n\n        alarms.push({\n            topic: key,\n            message: `${msg.data.msg_above} | Room: ${p.room}, Device: ${p.device_id}, Value: ${temp} ${msg.data.unit}`\n        });\n    }\n\n    // Clear alarm\n    if (temp < threshold && states[key].active) {\n        states[key].active = false;\n\n        alarms.push({\n            topic: key,\n            message: `${msg.data.msg_under} | Room: ${p.room}, Device: ${p.device_id}, Value: ${temp} ${msg.data.unit}`\n        });\n    }\n}\n\nflow.set(\"alarmStates\", states);\n//node.warn(alarms)\nmsg.payload = alarms\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 520,
        "wires": [
            [
                "2a74be9bfac931d8"
            ]
        ]
    },
    {
        "id": "f1dacbb09345eaa6",
        "type": "change",
        "z": "f7ee29e1334162d9",
        "name": "Prepare telegram msg",
        "rules": [
            {
                "t": "set",
                "p": "payload.chatId",
                "pt": "msg",
                "to": "TELEGRAM_CHAT_ID",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "payload.type",
                "pt": "msg",
                "to": "message",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.content",
                "pt": "msg",
                "to": "payload.message",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1080,
        "y": 480,
        "wires": [
            [
                "9bebfb9127bffd6c"
            ]
        ]
    },
    {
        "id": "0fa87ccf67025c08",
        "type": "function",
        "z": "f7ee29e1334162d9",
        "name": "Create alarms stateless",
        "func": "// msg.payload = array of last points from InfluxDB\nlet alarms = [];\n\n// Create and push alarms\nmsg.payload.forEach(point => {\n    if (point._value >= msg.data.threshold) {\n        alarms.push({\n            topic: `${point.room}_${point.device_id}`,\n            message: `${msg.data.msg_above} | Room: ${point.room}, Device: ${point.device_id}`\n        });\n    }\n});\n\nmsg.payload = alarms;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 720,
        "wires": [
            [
                "2a74be9bfac931d8"
            ]
        ]
    },
    {
        "id": "9bebfb9127bffd6c",
        "type": "telegram sender",
        "z": "f7ee29e1334162d9",
        "name": "",
        "bot": "68ef3381986c2cf6",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1070,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "8d1cf85c6009534b",
        "type": "switch",
        "z": "f7ee29e1334162d9",
        "name": "",
        "property": "data.stateful",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "jsonata"
            },
            {
                "t": "eq",
                "v": "false",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 150,
        "y": 620,
        "wires": [
            [
                "baddc756a16e346c"
            ],
            [
                "0fa87ccf67025c08"
            ]
        ]
    },
    {
        "id": "2a74be9bfac931d8",
        "type": "split",
        "z": "f7ee29e1334162d9",
        "name": "Split alarms",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload",
        "x": 810,
        "y": 620,
        "wires": [
            [
                "f1dacbb09345eaa6"
            ]
        ]
    }
]