nodered/data/.flows.json.backup
[
    {
        "id": "f7ee29e1334162d9",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ce479483708d6c92",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": 8086,
        "protocol": "http",
        "database": "database",
        "name": "influxdb",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://172.30.0.101:8086",
        "timeout": 10,
        "rejectUnauthorized": true
    },
    {
        "id": "27ace9ab301b3114",
        "type": "influxdb in",
        "z": "f7ee29e1334162d9",
        "influxdb": "ce479483708d6c92",
        "name": "Read temperature",
        "query": "from(bucket: \"smarthouse\")\n  |> range(start: -30m)\n  |> filter(fn: (r) => r[\"_measurement\"] == \"temperature\")\n",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "univaq",
        "x": 390,
        "y": 260,
        "wires": [
            [
                "24d33817bc5bc3a0"
            ]
        ]
    },
    {
        "id": "5f8f04323e64879b",
        "type": "inject",
        "z": "f7ee29e1334162d9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 260,
        "wires": [
            [
                "27ace9ab301b3114"
            ]
        ]
    },
    {
        "id": "24d33817bc5bc3a0",
        "type": "debug",
        "z": "f7ee29e1334162d9",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 260,
        "wires": []
    },
    {
        "id": "c9dcb590a421687d",
        "type": "inject",
        "z": "f7ee29e1334162d9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 340,
        "wires": [
            [
                "a515d77e6052162b"
            ]
        ]
    },
    {
        "id": "a515d77e6052162b",
        "type": "influxdb in",
        "z": "f7ee29e1334162d9",
        "influxdb": "ce479483708d6c92",
        "name": "Read humidity",
        "query": "from(bucket: \"smarthouse\")\n  |> range(start: -30m)\n  |> filter(fn: (r) => r[\"_measurement\"] == \"humidity\")\n",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "univaq",
        "x": 360,
        "y": 340,
        "wires": [
            [
                "8b5c8ad637967d72"
            ]
        ]
    },
    {
        "id": "8b5c8ad637967d72",
        "type": "debug",
        "z": "f7ee29e1334162d9",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 360,
        "wires": []
    }
]